[2020-04-06 23:21] lizzieinvancouver opened #1 "edit Joly's code for our question"
See pmm-pgls-simulations_v2.R and the notes I put at the top...

[2020-04-06 23:22] lizzieinvancouver opened #2 "go through Pearse code and run the most relevant model"
see supplement.R and the related paper (in refs) ... use data from brms vignette unless we can find better data? (Or maybe if issue #1 is done, use those data!)

[2020-04-07 19:25] MoralesCastilla commented on #1
@lizzieinvancouver @dbuona

I have been playing a bit with `pmm-pgls-simulations_v2.R` (I have made my own copy of the code: `pmm-pgls-simulations_v2IMC.R`) and changed the function `one.sim.pmm` to change the genetic intraspecific structures by 'star-like' variance-covariance-matrices. Doing this makes models 2 and 3 unhappy, but models 0 and 1 run. I'm not sure we need M.2 and M.3 to work, but I

[2020-04-07 20:09] lizzieinvancouver commented on #1
@MoralesCastilla Super cool! I see you pushed the code, so I will aim to look at it tonight with Jonathan. Thank you!

[2020-04-07 20:44] MoralesCastilla commented on #1
@lizzieinvancouver
Please ignore the file called `Pearse-code-4brmsdata.R` for now, I have not started that seriously yet, however, I'm doubtful about how applicable that code is, since it is aimed at predicting presence/absences of species in sites.

[2020-04-08 02:48] lizzieinvancouver commented on #1
@MoralesCastilla Do you get results for any of the models? I ran the code but my res.table is empty and I can't quickly figure out the problem (I also have lost Jonathan -- he needs to record one last lecture -- so will have to pester him for help tomorrow).

But I do agree we can M.2 and M.3, so let's delete those.

Also, if you can see an easy way to write out some of the simulations I could pla

[2020-04-08 02:59] lizzieinvancouver opened #3 "what to assign others to prep for lab meeting (15 April)"
@MoralesCastilla @dbuona For now I was going to suggest:

* Everyone read Housworth et al. 2004.
* Folks who want some background can read Chapter one [here](https://books.google.ca/books/about/Modern_Phylogenetic_Comparative_Methods.html?id=s-YkBAAAQBAJ) and maybe Chapter 11 (UBC has it online) ... @dbuona Are those good chapters?
* If I have time this weekend I will add some simple code for folk

[2020-04-08 10:14] MoralesCastilla commented on #3
@lizzieinvancouver

These are great suggestions. My only additional suggestion has to do with running code. I imagine you have thought about this already, but it would be great if each person could simulate data with different sets of parameters (e.g. number of species, number of individuals within species including balanced and unbalanced scenarios, strengths of the associations between x and y,

[2020-04-08 13:16] MoralesCastilla opened #4 "run models and compare results"
@lizzieinvancouver @dbuona

This issue would concern everyone involved. The aim is to start filling a model comparison table [PMM_models_comparison.csv](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/output/PMM_models_comparison.csv) with results from fitting MCMCglmm, PGLS, BRMS (and Pearse's? - TBD) models. Each participating person can modify the code `analyses/run_MCMCpglmm.R` t

[2020-04-08 16:25] lizzieinvancouver commented on #3
@MoralesCastilla That's a great idea (I had not thought of it so thanks for suggesting). Thanks for setting it up!

[2020-04-13 18:11] legault opened #5 "error in inverseA"
@lizzieinvancouver I have encountered an error while running line 109 of file "run_MCMCbrms_pglmm.R" for nspecies = 40 and nindividuals = 40:

Produces the following error message:

  phylogeny tip/node labels are not unique

I have made no other changes to the code.

[2020-04-13 19:23] lizzieinvancouver commented on #5
@legault Ah, shoot -- I think I know what that is. The underlying code uses a-z as names so we probably cannot go above 24. For now could you do nspecies = 10 and nindividuals = 10 instead of 40? Same change for @cchambe12 @FaithJones if you were assigned any sims with nspecies = 40 and nindividuals = 40.  Thanks for catching this and my apologies.

@MoralesCastilla This is something we should fix

[2020-04-13 19:51] FaithJones opened #6 "Why cant i use the code to extract model results if there are divergent transitions?"
I have divergent transitions in the brms models, but the code at the bottom to extract values seems to be working fine. Why do I need to extract the results manually in this case?

[2020-04-13 20:06] legault commented on #5
Sure thing, I'll run with n = 10.

[2020-04-13 20:06] lizzieinvancouver commented on #6
@FaithJones Ah, sorry for the confusion. I just meant you have to write down how many divergent transitions you got in the csv. All the other results should be fine and do not need to be manually extracted. Please close if that makes sense!

[2020-04-13 20:07] #6 closed

[2020-04-13 21:08] MoralesCastilla commented on #5
@lizzieinvancouver @legault

Sorry about this, I've fixed the code `pmm-get-simulated-data.R` within the source folder to allow for a different number of species and individuals. I imagine something similar should be fixed for `pmm-get-simulated-data-nointra` and `pmm-get-simulated-data-nointra-joly`. Let me know if this works.

[2020-04-16 02:45] #3 closed

[2020-04-16 03:07] lizzieinvancouver opened #7 "correlation issue ..."
@maxfarrell Check this out ...

[code]
What the ...? (Note @MoralesCastilla)

[2020-04-16 03:14] lizzieinvancouver commented on #4
@MoralesCastilla set.seed will work! The only trick is making sure it's everyone's first run (or if we want them to do multiple trees, we have to all stay on the same first, or second or third draw). Does that make sense? You can try it out and see what I mean.

[2020-04-16 20:33] maxfarrell commented on #7
This is exactly what I ran when I saw that he wasn't using cor=TRUE, despite this being what I took away from the PMM papers.

My conclusion was that the tree they used had a depth of 1 already. If you simulate a random ultrametric tree you can see the difference:

[code]

[2020-04-21 18:01] lizzieinvancouver commented on #7
@MoralesCastilla Can you update the main sims code to both run as it does now but also run the same exact data with corr=TRUE in simulation and analysis, and allow us to vary tree-depth a bit more systematically?

After that pass back to @lizzieinvancouver and I will adjust the PGLS to estimate lambda, which should give us some insight on that... then we need others to help run some sims.

[2020-06-10 21:42] lizzieinvancouver opened #8 "to do items after 10 June 2020"
* Where is e versus sigma in PMM ... y ~ MVN(u, sigma), u = a_0 + a + Bx + e?
* generate fake data to replicate PGLS and check my lambda
* bforce_observed ~ MVN(bforce_nophylo, phylogeny) --> turn off alpha on alpha + lambda(Vphy)
* test lambda -- on y data? (For intercept and slope models)
* try different Vphy versions on intercept model -- 1 or 0s on diagonals

[2020-07-06 01:58] lizzieinvancouver commented on #8
- Tried different Vphy versions on intercept model -- 1 or 0s on diagonals -- model answers are the same.
- test lambda -- on y data -- For intercept model, my lambda was 0.6 and for the y data it was 6.612696e-05 (plot(interceptz ~ dfhere$yerr) was pretty random so this makes sense), for slope model it was 0.6 (lambda =0.54) (plot(slopez~dfhere$yerr) was very correlated) ...  did both of these wi

[2020-07-06 22:40] lizzieinvancouver commented on #8
Okay so I have:

- Where is e versus sigma in PMM ... y ~ MVN(u, sigma), u = a_0 + a + Bx + e?
- generate fake data to replicate PGLS and check my lambda
- bforce_observed ~ MVN(bforce_nophylo, phylogeny) --> turn off alpha on alpha + lambda(Vphy)

I worked on generate fake data to replicate PGLS and check my lambda -- I can't get my Stan code to run and need to think through how to generate the d

[2020-10-08 02:04] lizzieinvancouver opened #9 "check my matrix code matches stan ..."
Step 1) Check that my code in ubertoy_nogeiger.R, especially this line 35:

`slopez <- mvrnorm(n=1, mu=rep(0, nspecies), Sigma=(diag(rep(null_interceptsb, nspecies)) + lam_interceptsb*Vphy))
`
matches the Stan code in ubermini.stan, especially this:

`b_force ~ multi_normal(rep_vector(0,n_sp), diag_matrix(rep_vector(null_interceptsb, n_sp)) + lam_interceptsb*Vphy);
`

Step 2) Maybe try to figure o

[2020-10-08 02:06] lizzieinvancouver commented on #9
ubertoy.R has what is supposed to the equivalent code of ubertoy_nogeiger.R except using geiger.

[2020-10-08 02:15] lizzieinvancouver opened #10 "does Will's code work?"
Review Will's email, check code and output more fully....

[2020-10-12 20:20] lizzieinvancouver commented on #10
running sims on midge!  One to check is from Nacho:

[2020-10-21 16:48] legault commented on #9
Code has been checked: the two lines (R versus Stan) produce the same output.

[2020-10-21 16:48] #9 closed

[2020-11-06 02:19] lizzieinvancouver opened #11 "Try to re-write ubermini_2.stan with cholesky decomp"
See ubermini_2.R (note you need to change parameter `m` as noted in the code). This relates [OSPREE issue 388](https://github.com/lizzieinvancouver/ospree/issues/388). If much preferred you can play with code there (see ../phylogeny/compare_ospreedat_ubermini_2.R).

See 'Optimization through Cholesky Factorization' [in Stan manual](https://mc-stan.org/docs/2_18/stan-users-guide/multivariate-hierar

[2020-11-06 02:23] lizzieinvancouver opened #12 "check out math and maybe try changing initial values for ubermini_2.stan"
See ubermini_2.R. This relates also to [this issue](https://github.com/lizzieinvancouver/pmm/issues/11) and and  [OSPREE issue 388](https://github.com/lizzieinvancouver/ospree/issues/388) where we can NEVER get the model out of initial value issues. If much preferred you can play with code there (see ../phylogeny/compare_ospreedat_ubermini_2.R).

See 'Cholesky Factors of Covariance Matrices' in th

[2020-11-13 23:43] FaithJones commented on #11
I tried to add a Cholesky decomposition, but no luck. I am not sure if I wrote the code wrong or if this was not the solution. The code is in stan/ubermini_2_Chol.stan. I got an error about positive definite matrices when I ran it.

[2020-11-17 16:48] lizzieinvancouver commented on #12
@legault Hello! I'd like to roll this rock a little further down its path this week -- any updates on this?

[2020-11-19 23:03] legault commented on #12
See commit e6fabd54a874f5535e32caae59f0b1c8ede97258 for a fix to the vcv function, sig2, and adding a prior to sigma_y. This addresses some of the modeling issues such that we now correctly infer the parameter values in ubermini_2.R

The Cholesky decomp may no longer be necessary.

[2020-11-20 00:32] lizzieinvancouver commented on #12
@legault Thanks for this, but the issue wasn't about the vcv, are you sure it was wrong? Can you provide a little more details on what was wrong (and thus what you fixed here)? I'd like to understand and it's not so clear what errors you found in the math from your notes and the commit.

[2020-11-20 23:00] legault commented on #12
I shouldn't have said "fix" as all I did was re-specify things using sigma instead variance (in vcv). Commit d85d59e has some additional changes, notably the addition of a function that sets initial values which avoid the numerical issues we've been seeing.

[2020-11-20 23:05] legault commented on #11
@FaithJones @lizzieinvancouver Function "cholesky_decompose()" in Stan requires a positive definite matrix, so this may explain why the ubermini_2_Chol.stan version is still running into problems. See commit d85d59e for an initial value function that may avoid the problem we're having

[2021-01-04 19:45] lizzieinvancouver commented on #12
@legault's commit mentioned above seems to have solved the initial conditions issue. Yay!

[2021-01-04 19:45] #12 closed

[2021-01-04 19:48] lizzieinvancouver commented on #10
Answer:
Yes! And Geoff pointed out that the model's sigma seems to correspond to the rate of evolution across the tree (i.e., sig2 in fastBM command). So  the model returns not only lambda, but also that sig2 value and the root trait value (`b_z`). (Will added,  "Yes, that sounds absolutely right to me - that's what it is by design." I asked whether we should interpret it too much and he said, "I

[2021-01-04 19:48] #10 closed

[2021-01-04 19:53] lizzieinvancouver commented on #8
As we have the model running now (see `ubermini_2.R ubermini_2_biggerpriors.stan`) I am closing this.

[2021-01-04 19:53] #8 closed

[2021-01-04 19:55] lizzieinvancouver commented on #7
@legault commits in Nov 2020 (e.g. commit d85d59e891fa3b987073ee3eddb0f4642675f205) say you get the same output, though I can see that it should matter. Right now we have `corr=TRUE` which seems safest.

[2021-01-04 19:55] #7 closed

[2021-01-04 19:55] lizzieinvancouver commented on #2
This is definitely done! It had some issues, but between all of us, including Will a lot, we fixed it (we think).

[2021-01-04 19:55] #2 closed

[2021-01-04 19:56] lizzieinvancouver commented on #1
More or less done enough I think.

[2021-01-04 19:56] #1 closed

[2021-01-04 19:56] lizzieinvancouver commented on #4
I ran some checks in the fall and it looked good, we could always run more, but okay for now.

[2021-01-04 19:56] #4 closed

[2021-01-04 19:57] lizzieinvancouver commented on #5
I think this was working last I checked!

[2021-01-04 19:57] #5 closed

[2021-01-04 20:07] lizzieinvancouver opened #13 "Structure in sigma_interceptsbf and sigma_interceptsbp"
I have tried the following (see lessmini_threeslopeintercept.stan and phlyo_opsree_compact.R, there's also phlyo_opsree_serve1.R for running on midge, as these models are SLOW):

[code]

See phlyo_opsree_compact.R for more notes on other runs.

Here's what a run with ` iter=9000, warmup=8000, chains=4, cores=4, control=list(adapt_delta=0.99)` looks like:

![sigmaf](https://user-images.githubuserco

[2021-01-04 20:07] lizzieinvancouver commented on #11
@FaithJones Could you try your code again on first the current ubermini_2.R which has a nice f(x) Geoff wrote that helps with initial conditions and check that you get the right params back.

Then if that works, can we try it on phlyo_opsree_compact.R (lessmini_threeslopeintercept.stan)? I am getting structure in `sigma_interceptsbf` and `sigma_interceptsbp` that I cannot get rid of with more warm

[2021-01-07 18:45] lizzieinvancouver commented on #13
@FaithJones @legault

priors land diagnostics look okay, but another eye on the priors would be great!
[code]

The pairs plot still doesn't show anything! Any ideas on what to look at would help.
https://github.com/lizzieinvancouver/pmm/blob/master/analyses/figures/ospreepairs.pdf

Also, do either of you have nice code to make pairs plots? This is how I did it and it felt clunky:

[code]

[2021-01-07 18:46] lizzieinvancouver commented on #13
Here's the model estimates @legault @FaithJones @MoralesCastilla

[code]

[2021-01-07 18:48] lizzieinvancouver commented on #13
Ideas are:

- cholesky decomposition
- add a multivariate normal to the lambdas?
- double-check priors

[2021-01-08 16:20] willpearse commented on #13
Thought I'd stick my nose in here (thanks for this link @lizzieinvancouver !) - this is a doozy, isn't it?... My thoughts, in an almost stream-of-consciousness fashion, are:
- It doesn't look like this is causing any problems (the divergences aren't in weird positions in the space, and the summary stats are fine). BUT I see this isn't something to be ignored, so we need to figure it out...
- The E

[2021-01-09 22:44] lizzieinvancouver commented on #13
@willpearse Thanks!

I got 26 divergences from
`iter=6000, warmup=5000, chains=4, cores=4, control=list(stepsize=0.5, adapt_delta=0.99))
`
and 25 divergences from
`    iter=4000, warmup=3000, chains=4, cores=4, control=list(stepsize=0.5, adapt_delta=0.99))
`
and 151 from
`    iter=4000, warmup=3000, chains=4, cores=4, control=list(stepsize=0.5, adapt_delta=0.9))
`

Just to check I am running one w

[2021-01-09 22:45] lizzieinvancouver commented on #13
@legault Some notes on how correlated traits evolve in phylo stuff. Basically, you can evolve them together and set the correlation between them... see `sim.char` in geiger package (Continuous character -- multivariate example)

[See also ...](https://wiki.duke.edu/display/AnthroTree/6.1.1+Simulating+Trait+Evolution+in+R)
see 'Now, let's simulate the evolution of two traits on the tree under three

[2021-01-11 16:26] willpearse commented on #13
I would agree with the correlated models not being very common (although
they really should be more common in my opinion!). Off-hand I can't think
how to set up a direct analogue of the above simulation for the estimation.
I know you can do it in PCMBase or mvMORPH, for example, but it is a bit
trickier to do than the univariate case in geiger.

[2021-01-11 23:10] legault commented on #13
I believe the current 3 slope model (i.e., 3 character model [+intercept]) assumes that slopes evolve independently across a shared tree. In this case, I think it possible to generate fake data by simulating the univariate case 3 times (with fastBM), once for each set of lambda and sig2, and bringing them all together. Maybe with this simulated data we can see what's going wrong on the Stan side o

[2021-01-14 18:19] lizzieinvancouver commented on #13
`    iter=6000, warmup=5000, chains=4, cores=4, control=list(stepsize=0.2, adapt_delta=0.999))
`

19 divergences

`    iter=8000, warmup=7000, chains=4, cores=4, control=list(stepsize=0.2, adapt_delta=0.999))
`
14 divergences

`    iter=6000, warmup=5000, chains=4, cores=4, control=list(stepsize=0.1, adapt_delta=0.999))
`
3 divergences

[2021-01-14 21:52] willpearse commented on #13
Gaaaaaaarg, so close... I don't suppse you've considered running a couple
of these at the same time and could keep the one where there are no
divergences? I have a suspicion that these posteriors are going to be
essentially indistinguishable from the ones with many more divergences
anyway...

On Thu, 14 Jan 2021 at 18:19, lizzieinvancouver <notifications@github.com>
wrote:

[2021-01-14 23:07] lizzieinvancouver commented on #13
@willpearse I agree! I think we have the model results, just not ones I'd feel okay publishing.... I had not considered your idea but can try it next week. For now I sent a few more runs to the server (midge!) with a mix of even smaller step sizes, longer warmup etc..

[2021-01-15 13:18] willpearse commented on #13
That's great; I'm just glad you've got loads of things sent off because I
think that will crack it. This is a bit weird and frustrating; I am going
to try and look more into this when I have time because there ought to be a
general fix for this...

[2021-01-15 21:04] legault commented on #13
In case it's helpful, I've pushed code that simulates 1, 2, and 3 slope models and fits these models to the data, see adfd84d . With tight priors, we see good behavior and get back the true parameter values

[2021-02-02 02:38] lizzieinvancouver commented on #11
@FaithJones Any chance you could play around with the cholesky soon? I'd like to know how it performs before trying other strategies to fix the divergences. Thank you!

[2021-02-02 22:54] FaithJones commented on #11
I tried adding a cholensky to lambda_vcv to ubermini_bigpriors.stan (see ubermini_2_Chol_biggerpriors.stan). It didn't work - I get the error " Exception: validate transformed params: L_lambda_vcv is not a valid unit vector. The sum of the squares of the elements should be 1, but is ...)". I also noticed there is an extra matrix in the code now (sigma_mat). Its possible this difference is affectin

[2021-02-03 18:30] lizzieinvancouver commented on #11
@FaithJones Thanks!

Using git's helpful, but highly judgmentally named blame f(x) I can see Geoff added that [code a few months ago](https://github.com/lizzieinvancouver/pmm/blame/master/analyses/stan/ubermini_2_biggerpriors.stan), while making some helpful tweaks and fixes.

I tried replacing it with the older code:
[code]
in your ubermini_2_Chol_biggerpriors.stan, and got an initial conditions

[2021-02-10 01:56] lizzieinvancouver commented on #11
@legault Could you take a look at running @FaithJones code? I tried running it from [ubermini_2.R](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/ubermini_2.R) but updating it to use [her Stan code]https://github.com/lizzieinvancouver/pmm/blob/master/analyses/stan/ubermini_2_Chol_biggerpriors.stan) and updating that Stan code with the older code snippet mentioned above. When I run i

[2021-02-12 20:11] legault commented on #11
I think the unsatisfying answer is that for some parameter values, the Cholesky decomposition of the matrix made by the lambda_vcv function is not a [unit vector](https://mc-stan.org/docs/2_26/stan-users-guide/unit-vectors.html).

Why it isn't a unit vector, I'm not sure. One possibility is that due to numerical problems, the matrix being decomposed is not positive definite. Recall that we're buil

[2021-02-24 02:43] lizzieinvancouver commented on #11
@legault Thanks!

Can you take a look at the model running the OSPREE data and make sure all your suggested fixes are in? It's in [analyses/phylo_ospree_compact.R](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/phlyo_opsree_compact.R) and runs stan/nointer_2levelphyall_2 which *I think* I based off ubermini_2_biggerpriors.stan (you'll see in the code I build up to the full model we

[2021-03-09 17:42] legault commented on #11
Yes, in 4470044 I've fit the oneslope models (slope only, slope + intercept) to the OSPREE data [forcing]. The slope only model has 0 divergences and seems to return sensible estimates. The slope + intercept model has only a few divergences which I think can fix with better priors.

[2021-05-04 21:59] lizzieinvancouver commented on #13
@legault Just confirming that I went back to the ospree code where I wrote out the data and it does look to be z-scored!

[2021-07-06 20:47] legault commented on #13
I just pushed 3bde38c which includes a successful fit of the three slope (i.e., three trait) model to the OSPREE data. The fitted model can also be downloaded from the data folder on the Wolkovich server (testme.rds)

[2021-07-06 20:47] #13 closed

[2021-07-08 02:12] lizzieinvancouver commented on #13
Values from @legault model:

[code]

[2021-07-08 02:14] lizzieinvancouver commented on #13
@legault This model looks great to me -- thank you! I am adding a few notes below.

@MoralesCastilla ... it looks like we have the PMM running. We should pull the code from here back to the ospree repo, run the model and then, let's write that paper!

[2021-07-08 02:16] lizzieinvancouver commented on #13
A few notes from Geoff we may want ...

It takes some time to run (~2 hours on midge), so you can alternatively download the fitted model from our friendly lab computer's /home/data folder ("testme.rds" 160 MB)

Attached are the estimates. The priors are relatively wide and could probably be widened if desired (see object "phypriors").

...

When I asked, wow! How did you get this to work? Geoff s

[2021-07-08 07:54] willpearse commented on #13
Thanks for looking into this, and also for updating me. To be clear, then,
it's a beta prior + a hard [0,1] constraint that fixed it? Good to know
going forward.

On Thu, 8 Jul 2021 at 03:16, lizzieinvancouver ***@***.***>
wrote:

[2021-07-09 17:31] lizzieinvancouver commented on #13
@willpearse Thanks to you for writing up the model! Looking back at the code, I think @legault added the beta distribution and initially it was beta(2,2) and now is beta(1,1), which means that making it more square made the difference ... I think.

Also, this all applies for our real data; we got the model running on test data with beta(2,2) and normal(0, 1) for lambda.

[2021-07-13 07:53] willpearse commented on #13
This is super useful to know. Well done and thank you!

On Fri, 9 Jul 2021 at 18:31, lizzieinvancouver ***@***.***>
wrote:

[2021-09-17 18:34] #11 closed

[2021-09-22 18:35] lizzieinvancouver opened #14 "add refs to methods file"
@legault I like the Housworth et al. 2004 paper ([which is in this repo](https://github.com/lizzieinvancouver/pmm/tree/master/refs). It mentions the Freckleton paper that I think @MoralesCastilla was thinking of. For example:

I think the original citation is Lynch 1991 (Lynch is on the Housworth paper):

The ref is: Lynch, M. 1991. Methods for the analysis of comparative data in evolutionary biol

[2021-12-12 19:36] lizzieinvancouver opened #15 "working on adding a cholesky to speed up code"
Running simulate_fit_oneslopeintercept.R to check how that ran (takes maybe an hour or less, chains look very good):

![Untitled](https://user-images.githubusercontent.com/2153556/145726848-a51dacb8-1a37-4b40-9b8b-4f748a9afcf0.png)

Values pretty close; note that assigned priors in this code are very narrow, so this is maybe not the ideal test before tackling real data.

[2021-12-12 23:42] lizzieinvancouver commented on #15
I then tried adding the cholesky (commit 6a317a67c96339e0182a9085616f6c34ffe8a0f2) ... see new 'temp' folder (we should delete this eventually) and never got good output. It runs fast but the chains don't converge and it never seemed to get lam or sigma for the phylo part ... even with the treedepth made higher (which makes the model take forever and thus seems beyond the point ...).

![Untitled](

[2021-12-12 23:43] lizzieinvancouver commented on #15
@DeirdreLoughnan Do these trends seem to be what you're seeing? If so, I suggest you do a quick compare of my new and your code (we can discuss any big differences *if* you find them) and post back to Discouse.

[2021-12-12 23:44] lizzieinvancouver commented on #15
[Here's the Discourse post](https://discourse.mc-stan.org/t/efficiency-issue-with-gaussian-process-model/25454) and content of Ben Goodrich's email:

[2021-12-13 00:17] DeirdreLoughnan commented on #15
Thanks @lizzieinvancouver!

Our code for the corrected version is essentially the same (the only minor difference being the specification for the priors of a_ and b_), but I agree with your overall summary.

I am currently running the model with a greater treedepth to test if I get similar values, but without it, and without the specification of initial parameters, my model output still has 4000 d

[2021-12-20 22:21] DeirdreLoughnan commented on #15
Aki Vehtari replied to our Stan discourse post with the following questions and comments:
1. the fact that our model generates 4000 transitions exceeding max tree depth suggests very high posterior correlation between some parameters. He asked if we had looked at the pairs plots and how big the ESSs for the quantities of interest are.
2. He did not think the estimates looked that bad. But added th

[2021-12-20 22:27] DeirdreLoughnan commented on #15
Using [Mike Betancourt's tutorial](https://betanalpha.github.io/assets/case_studies/identifiability.html) and Faith's pairs plot code, I got the following output from the Cholesky model (without initial values):
![Screen Shot 2021-12-20 at 10 27 02 AM](https://user-images.githubusercontent.com/16216421/146840672-dc28572f-ca1e-49eb-8c81-afab8237ab11.png)

![Screen Shot 2021-12-20 at 2 24 23 PM](htt

[2021-12-24 19:04] lizzieinvancouver commented on #15
@DeirdreLoughnan Geoff suggested a change in code at Bayes class a couple weeks back that I did not understand so I asked and understand it better now. It is basically just moving around some of the code to hopefully run faster, he had not pushed it then, but [it's now pushed](https://github.com/lizzieinvancouver/pmm/commit/a7bcbee66e4aef61fda74f0da6aba5df086fe488). If you have time can you see ho

[2021-12-24 19:05] lizzieinvancouver commented on #15
@DeirdreLoughnan Merry Christmas Eve! I am trying to do a few quick things before getting offline (so feel free to IGNORE this all). Included in that I wrote some notes on [our issue here](https://github.com/lizzieinvancouver/pmm/wiki/Our-model-is-slow) and am emailing Mike now.

[2021-12-29 17:30] DeirdreLoughnan commented on #15
Thanks @lizzieinvancouver and @legault for your help with this.

I tried running the new code and initially got the error that the variable sigma_y_mu_sigma was not defined, so I added sigma_y_mu_sigma = 1 to the param object in the R file (line 59). If this sounds wrong to you, let me know.

The new code runs fairly quickly for 200 species and the output looks good enough to me:

![Screen Shot 20

[2022-01-12 23:44] DeirdreLoughnan commented on #15
Thanks @lizzieinvancouver for taking the time to chat about this model today. The model appears to be getting stuck  and the last two chains are not getting past 70%/80% respectively.

Before I move on with doing this analysis at the family level, the below are things I am going to look into:

- [ ] Run the model with 2000 & 3000 iterations to see if they finish
- [ ] Run the ncp model on my real

[2022-01-17 18:39] DeirdreLoughnan commented on #15
@lizzieinvancouver @legault

A quick update on the progress I have made with the above tasks:
1. I am running the model for 2000 and 3000 iterations, but based on the estimated time, I think they will take another 7 days to finish. This surprised me, since I would have thought fewer iterations would run faster.
2. The ncp model, which unfortunately was giving us bad estimates on our test data, ran

[2022-01-17 19:15] lizzieinvancouver commented on #15
@DeirdreLoughnan Can you check the stepsize on the model with the correlations?

Also, I posted some example nested model code [which you can find here](https://github.com/lizzieinvancouver/examplegit/tree/main/multilevel_megan).

[2022-01-18 00:01] DeirdreLoughnan commented on #15
@lizzieinvancouver the stepsize for the model is very small ~0.0015.

Thanks for sharing this code! I will create a new issue in my Synchrony repo to discuss progress on the family level model, unless you think it would be useful to have it in the pmm repo as well.

[2022-01-18 01:44] lizzieinvancouver commented on #15
@DeirdreLoughnan It would be great to have it in the pmm repo as well! Slightly easier for me if we start the code there, but if starting in synchrony repo is better for you we can always move it over to pmm later.

[2022-01-20 00:15] DeirdreLoughnan opened #16 "Family level phylogeny model"
@lizzieinvancouver I have added the code for the family level [Stan](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/stan/phylogeny_family_cholesky.stan) and associated [R code](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/family_phylogeny.R) to the repo.

The model runs with a few changes to the [model code you linked to](https://github.com/lizzieinvancouver/example

[2022-01-20 20:56] DeirdreLoughnan commented on #16
@lizzieinvancouver The model ran relatively quickly (less than 2h) but produced 8000 divergent transitions the chains mixed poorly for most parameters.
![Screen Shot 2022-01-20 at 12 28 07 PM](https://user-images.githubusercontent.com/16216421/150420835-987937d0-7296-4fd6-81c7-740b82439a56.png)

![Screen Shot 2022-01-20 at 12 53 38 PM](https://user-images.githubusercontent.com/16216421/150420853-1

[2022-01-21 20:57] lizzieinvancouver commented on #16
@DeirdreLoughnan Usually that many divergences suggests the code is just wrong -- that the model is totally mis-specified. Re-reading above, where you had dimension issues "(dim declared = 1279, dim found = 42558)", I wonder if we should check that issue first -- I would suggest running the original sites within plots test data R code and stan model (you may need to update the Stan from using <- t

[2022-01-23 02:48] lizzieinvancouver commented on #16
@DeirdreLoughnan I updated the repo with the plotsinsites code, so please pull! The model had divergent transitions (yikes), and the test data looks messed up (I think that's the problem, not the Stan code, but I ran out of time to work on this). I did not need to change the dimensions to get the Stan code to run, so that could be related to the issue in your model.

I'd like to spend a little tim

[2022-01-25 18:36] DeirdreLoughnan commented on #15
I am still holding out a glimmer of hope that we can get this model to work. After chatting with @lizzieinvancouver I am running the following models:

- [ ] The ncp model inspired by Ben Goodrich, but without phylogeny on the intercept, and with the real data
- [ ] Geoff's revised model, but without phylogeny on the intercept, and with the real data

I ran my new version of Geoff's model quickly

[2022-01-25 19:46] DeirdreLoughnan commented on #16
@lizzieinvancouver I was looking over the code for this model and your old model again and it occurred to me that the issue with my first attempt might have been the data I inputted into the model for famnum. Instead of simply inputting a list of family names from the full dataset (which would be length N), it occurred to me after looking at your R test code, that I should actually be inputting a

[2022-01-25 19:59] DeirdreLoughnan commented on #16
@lizzieinvancouver  I also checked how well my test data was estimating the intercepts like you asked and it looks great!

![Screen Shot 2022-01-25 at 11 56 22 AM](https://user-images.githubusercontent.com/16216421/151050162-5f1926d2-2f1a-483d-9019-a04963894723.png)

[2022-01-26 23:20] DeirdreLoughnan commented on #15
@lizzieinvancouver a quick update on the above:
The ncp model ran in about 19 hours but the output is still quite poor. The model had 8000 transitions that exceeded the maximum tree depth and produced 17 values with n_eff less than 600.

There is still the strong correlation between the lambda and sigma interceptb values:
![Screen Shot 2022-01-26 at 3 10 47 PM](https://user-images.githubuserconten

[2022-01-26 23:38] DeirdreLoughnan commented on #16
@lizzieinvancouver the issue I thought I found yesterday made essentially not difference and the model still produces 7998 divergent transitions. The pairs plot looks very similar to the one above.

[2022-01-29 00:43] DeirdreLoughnan commented on #15
@lizzieinvancouver @legault The model with the real data and Geoff's model without phylogeny on the intercept finished running in about 2.5 days.

Unfortunately the model produces 30 divergent transitions and the lam_interceptbf and sigma_intercept_bf are still correlated:
![Screen Shot 2022-01-28 at 4 22 32 PM](https://user-images.githubusercontent.com/16216421/151639591-ed997fe6-aeec-48a3-9499-c

[2022-01-29 04:49] DeirdreLoughnan commented on #16
@lizzieinvancouver I am sorry to hear that you are having a computer nightmare, I hope you can get it sorted quickly!

I asked Faith if she had code for a nested model and the only example should could think of was in:
[bayes2020/Projects/Faith/rangesModel](https://github.com/lizzieinvancouver/bayesforever/tree/master/Projects/Faith/rangesModel)
[bayes2020/Projects/Faith/stan/nointer 3levelwpop fo

[2022-01-30 03:40] lizzieinvancouver commented on #15
@DeirdreLoughnan Yes! I think this is hopeful. We shouldn't modify priors unless they look like maybe they are wrong. So take a look and see what you think. How many warmup iterations currently? That's an 'easy' one to try playing with ... and what about adapt_delta? Try it just **a touch** higher than default? Or is it already high?

[2022-01-30 03:43] lizzieinvancouver commented on #15
@DeirdreLoughnan What's the prior on sigma_interceptsbf?

[2022-01-30 04:34] DeirdreLoughnan commented on #15
@lizzieinvancouver the model is just run with 2000 iterations and no changes to the adapt_delta. I will try running it with a larger warm up and another version with a higher adapt_delta and see if we get any improvements.

The prior on sigma interceptbf is (5,5), which in retrospect seems odd.

[2022-01-30 18:34] lizzieinvancouver commented on #15
@DeirdreLoughnan Oh, I would definitely up it to 4K iterations with 3K warmup to start. That prior seems okay to me actually.

[2022-01-30 19:24] lizzieinvancouver commented on #15
@DeirdreLoughnan Another to do item ... run your model without phylogeny with partial pooling only on the slopes and compare your slope estimates across the two models.

[2022-01-30 20:11] DeirdreLoughnan commented on #15
@lizzieinvancouver I can run that model, but I run a [similar model](https://github.com/DeirdreLoughnan/Synchrony/blob/master/Stan/singlesp_randslopesint_studyid_newpriors.stan) that included the effects of study. The slope estimates are pretty close, with the phylogeny model predicting b_zf  = -0.327, and the study model predicting b = -0.328. I also compared the slopes level slopes quickly:
![Sc

[2022-02-04 18:36] DeirdreLoughnan commented on #15
@lizzieinvancouver  I ran Geoff's version on the phylogeny model with phylogeny on the slopes only for the test data and I think we are on the right track, but I made a mistake and may need to re-run it. The prior I gave the model for mu_a was 4, but I generated the intercepts with a mean of 10 (oops). I will re-run the model with the same value for both. But here is the output just in case it is

[2022-02-09 00:39] DeirdreLoughnan commented on #15
@lizzieinvancouver I reran the model on test data with wider priors and I think it is still doing a pretty good job of estimating the priors:
![Screen Shot 2022-02-08 at 4 30 48 PM](https://user-images.githubusercontent.com/16216421/153099301-4e7b01cc-a5b1-4778-9d22-66b8bbc2eab2.png)

The mean stepsize is:  0.024, n_eff ranges from 1265.2-8592.6, and Rhats are good.

I also ran a model with phylog

[2022-02-09 01:00] DeirdreLoughnan commented on #15
Finally, I ran the model with phylogeny on the intercept only on the real data:

The model runs well, with a stepsize of 0.1059 and n_eff that range from 2757-23318, the Rhat values are 1.
![Screen Shot 2022-02-08 at 4 57 32 PM](https://user-images.githubusercontent.com/16216421/153101537-5de0196f-80e6-41cb-a690-3f7b3e984100.png)

But the pairs plot shows a weird relationship between the lam_inter

[2022-02-11 21:55] DeirdreLoughnan commented on #15
@lizzieinvancouver [Aki Vehtari ](https://discourse.mc-stan.org/t/efficiency-issue-with-gaussian-process-model/25454/10) does not think we need to be worried about the high correlation in the slope model. He said that the MCMC appears to be working well and that it is good enough.

Although the correlation for my intercept model is worse. I will take another look at the code first and see if I am

[2022-02-13 02:55] lizzieinvancouver commented on #15
That makes sense! Because we think the intercept model is likely not great. It might be worth comparing the no pooling intercepts (no Stan, just a bunch of lm models) to the partial pooling and see how bad the effect is.

[2022-02-13 05:11] DeirdreLoughnan commented on #15
Thanks @lizzieinvancouver, would you be available to chat about this some time this week?

I am just not sure I understand what you are suggesting. Looking back at my notes from January of last year, we did compare the no pooling to partially pooling models, but with a subset of the data (it looks like I excluded the Thackeray data). Is this what you have in mind?

<img width="641" alt="Screen Sho

[2022-02-13 20:06] lizzieinvancouver commented on #15
@DeirdreLoughnan Yes! That's what I mean. You should also just plot histograms of the intercepts for each species from the models. You can use `lm` for the simple linear models. I'll be around this week (M-Th) and happy to chat, but I am not sure when yet.

[2022-02-22 19:53] DeirdreLoughnan commented on #15
@lizzieinvancouver I tried running the model with phylogeny on both the intercept and the slope again...and it finished!!!

The model does produce 12 divergent transitions, but the warmup was only 2000 and 4000 iterations. Do you think it fine to just run it again with 3000 warmup and 4000 iterations, or up it a lot to say 4000 and 6000?

The mean stepsize is pretty good at 0.103, as are the neff

[2022-02-22 19:57] lizzieinvancouver commented on #15
@DeirdreLoughnan Ohmy -- that's brilliant! Bravo. Yes, I would just up the warm-up as you suggested (4K with 3K warmup). I think you can run with these results though for plotting and interpreting (I doubt the 12 divergent transitions are hiding a deep, dark pathology -- but we should get a run without any eventually).  How long did this model take?

[2022-02-22 20:05] DeirdreLoughnan commented on #15
@lizzieinvancouver I am very excited by these results!

Great! I was actually surprised by how quickly it ran, it finished in about 6 days.

[2022-03-08 05:41] DeirdreLoughnan commented on #15
@lizzieinvancouver @legault I chatted with Geoff last week about ways to potentially get rid of the pesky last divergent transition.

Geoff's suggestion was to try a more skewed beta distribution on lambdaintercept_b, since the model seemed to be log posterior seemed to be up against zero, but the estimates ranged from essentially 0 to 0.3. I reran the model with a beta prior of (2,5).

<img width

[2022-03-08 17:13] lizzieinvancouver commented on #15
@DeirdreLoughnan That's interesting. Could you plot the lambda_b prior versus the posterior (same plot -- in a way we can easily compare them) for this model? And also the older model? Thanks!

[2022-03-09 00:29] DeirdreLoughnan commented on #15
@lizzieinvancouver Absolutely!

This is the old model, with the prior (1,1) in pink and the posterior in blue:
<img width="560" alt="Screen Shot 2022-03-08 at 4 24 56 PM" src="https://user-images.githubusercontent.com/16216421/157348831-d0afdea4-e08f-429b-8335-c5d15e64b7b9.png">

This is the new model, with a prior of (2,5), again, the posterior is in blue:
<img width="574" alt="Screen Shot 2022-0

[2022-03-09 00:32] DeirdreLoughnan commented on #15
Based on these, I would say the model is better, since the posterior and the prior overlap more, but most of the posterior estimates are on the edge of the prior distribution.

[2022-03-09 00:36] lizzieinvancouver commented on #15
@DeirdreLoughnan Thanks! The posteriors look almost identical across the two plots so I cannot figure how your estimate is so different ... can you plot the full histogram (the top is cut off on the left side perhaps?) and the mean estimate.

[2022-03-09 00:44] DeirdreLoughnan commented on #15
@lizzieinvancouver oosp, the posteriors were the same!

I fixed it, here is the old model:
<img width="558" alt="Screen Shot 2022-03-08 at 4 42 04 PM" src="https://user-images.githubusercontent.com/16216421/157350573-c50bad4d-69b7-4ebf-9bb5-ce81cb95adf7.png">

And the new model:
<img width="570" alt="Screen Shot 2022-03-08 at 4 42 16 PM" src="https://user-images.githubusercontent.com/16216421/1573

[2022-03-09 00:54] lizzieinvancouver commented on #15
@DeirdreLoughnan Ah, that all makes sense now. Huh! Well, I am not sure what to do. Unless @legault has a good sense of which is better, I suggest you post to Stan Discourse and ask about this (you can link to your old post). They will likely have a better sense than any of us.

The one thing I will say is that this is a WIDE posterior ... you might try to compare it to what Nacho got for his phyl

[2022-03-09 00:57] DeirdreLoughnan commented on #15
Perhaps it would be more appropriate to use a prior distribution of (1,3)? I could try running this and see if it produces issues.
<img width="574" alt="Screen Shot 2022-03-08 at 4 54 07 PM" src="https://user-images.githubusercontent.com/16216421/157351459-ff89bd8c-6e54-4948-9011-265efb69c2b0.png">

Geoff's suggestions were to:
1) justify the existing priors (via argument, prior predictive check,

[2022-03-09 00:58] DeirdreLoughnan commented on #15
Thanks @lizzieinvancouver I will draft a discourse post and see what people think!

[2022-03-09 04:43] lizzieinvancouver commented on #15
@DeirdreLoughnan Great! See what they say.

I do think the difference (0.07 to 0.11 with a large posterior variance) is not a giant one in terms of biology so the new prior is okay by me.

[2022-03-10 15:17] legault commented on #15
@lizzieinvancouver @DeirdreLoughnan , I agree there's probably not much difference between 0.07 and 0.11 biologically. Given the influence of the prior distributions, there also likely isn't enough information in the data alone to distinguish between those values.

[2022-05-10 12:28] lizzieinvancouver commented on #16
@DeirdreLoughnan Since I am with Mike for a few days I thought I would work on this, if time allows. Can you please check everything in the [sandbox](https://github.com/lizzieinvancouver/pmm/tree/master/analyses/sync) is up to date (aka correct for what you're using now)? It should have test data and code.

Can you also add a real data example? Perhaps for birds or some relatively small clade?

Th

[2022-05-10 23:13] DeirdreLoughnan commented on #16
@lizzieinvancouver to clarify, do you want to work with Mike on the family level model we never got working, or on the species level model that I tried to add a grand mean and study level effect to (what I am using now)?

I assumed you mean the model with the grand mean/study, so I did push code/models and a real data example for this today. I had test data for the simple version of the model, but

[2022-05-11 10:24] lizzieinvancouver commented on #16
@DeirdreLoughnan I mean working on the family level model we never got working. So no study. Can you please post that (and move whatever you have there to a separate folder)? Thanks.

[2022-05-12 02:10] DeirdreLoughnan commented on #16
Oh ok great! I have separated the code and taken a go and setting up some test data and examples using amphibian and aves data.

The models do not run well and produce divergent transitions. Do you want me to keep working on this and try to fix it? Or would it be better for you to look it over and chat with Mike about it first?

Thanks!

[2022-05-13 00:30] DeirdreLoughnan commented on #16
@lizzieinvancouver I ran the model with the grand mean for the species group data, but for some of the models the Rhat's were too high (aves had an Rhat of 1.17 for example). I was running it for the full dataset, but I was getting some weird warnings on midge this week so I stopped the model run and restarted it to see if that helps.

I can try running it again and see, it does seem to take a lon

[2022-05-13 15:15] lizzieinvancouver commented on #16
@DeirdreLoughnan You should get it running on a small (or test) dataset before running the full model. It should run the same as the regular model unless you have a coding error. Can you point me to the phylogeny model you're using (no grand mean, no study effect) that you believe is working and is your current `main' model? You may have already put it in the pmm repo -- if so, just remind me whic

[2022-05-13 17:11] DeirdreLoughnan commented on #16
@lizzieinvancouver ok, I will keep working on it.

The phylogeny model that I am using currently as the main model is:

[pmm/analyses/sync/stan/phylogeny_synchrony_cholesky_geoffmod.stan](https://github.com/lizzieinvancouver/pmm/blob/master/analyses/sync/stan/phylogeny_synchrony_cholesky_geoffmod.stan)

[2022-05-15 11:43] lizzieinvancouver opened #17 "clean up stan folder in repo"
@DeirdreLoughnan
We need to clean up this repo! I am really struggling to make progress with so many files. Can we delete the below files? It's not clear to me that that work or do anything critical:

uber_PhyloIntercept_cholesky.stan
uber_oneslopeintercept_cholesky_modified.stan
uber_oneslopeintercept_cholesky_modified_notint.stan
uber_oneSlope_noIntercept_cholesky.stan
uber_PhyloIntercept_choles

[2022-05-15 18:11] DeirdreLoughnan commented on #17
@lizzieinvancouver

I removed a number of files from the main stan folder and a few R files from the analyses folder. The stan files you list were just different versions of the model I was trying when things were still not working, but they can be removed.

[2022-05-17 17:22] lizzieinvancouver commented on #17
@DeirdreLoughnan Wonderful! Thanks.

Yes, that's what I thought but I need to clean up the repo so we should move them to a folder or such that makes it clear they're in development.

[2022-05-19 12:50] lizzieinvancouver opened #18 "check cholesky work"
I am using this as a spot to both (1) organize my emails and notes on the way we changed PMM to get it to run for @DeirdreLoughnan and (2) double-check what is speeding up the model. It's not clear to me we know what created the speed-up or that we fully, fully checked our code is faster. So we should.

A subset of this info appears in issue #15 ... plus more info, but maybe this is more direct. S

[2022-05-19 12:55] lizzieinvancouver commented on #12
A few more notes what happened here (from an email from @legault on 20 Nov 2020):

[2022-05-19 13:02] lizzieinvancouver commented on #18
@DeirdreLoughnan I wanted to double-check we're sure the cholesky is speeding things up and that it returns all the parameters (both the main ones and the lower level ones like for each species). I suspect you have done this on test code, but can you point me to it?

I am asking about this because (1) it seems like several things changed at once in the code and we want to be sure we know what matt

[2022-05-20 18:07] lizzieinvancouver commented on #17
@lizzieinvancouver I still need to do this! I am pushing some quick notes tonight, but would be good to take some time in next few weeks and really clean up.

[2022-05-20 18:13] lizzieinvancouver commented on #16
@DeirdreLoughnan Okay, I actually made some progress! I just pushed edits, but they need work:

- [ ] I need to clean up notes and files more.
- [ ] We need to check the lower level estimates are correct (e.g., species). How are you pulling these out for test data or real data code with the cholesky? @DeirdreLoughnan -- Can you send the code where you extract these estimates?
- [ ] Pairs plots to

[2022-06-15 22:12] lizzieinvancouver opened #19 "start comparison of stan code"
@dinaramamatova

Compare new and old Stan code for the PMM:

https://github.com/lizzieinvancouver/pmm/blob/master/analyses/stan/ubermini_2.stan is the original code that I got running long ago. You can run it in https://github.com/lizzieinvancouver/pmm/blob/master/analyses/ubermini_2.R

And compare to:

https://github.com/lizzieinvancouver/pmm/blob/master/analyses/simulate_fit_oneslopeintercept_ch

[2022-07-28 16:24] lizzieinvancouver opened #20 "problems returning negative slopes"
I ran into this issue about 6 weeks ago when trying to check we can recover the parameters in @MoralesCastilla OSPREE results, which TJ Davies asked about. I was editing a version of simulate_fit_uber_threeslopeintercept.R and found issues with negative slopes. @FaithJones  and @willpearse asked if it was a priors issue.

Here's where I have gotten:

- My original code (ubermini_2.R) has no proble

[2022-07-28 16:24] lizzieinvancouver commented on #20
- [ ] Next step is to run the code using Nacho's priors.

[2022-07-28 20:08] lizzieinvancouver commented on #20
Above code with 180 species and 20 ind:

[code]

[2022-07-29 08:04] dinaramamatova commented on #19
Hello Lizzie,

Here are some differences between two Stan codes that I found so far:

1. For the data block - there is not much difference when it comes to declaring the # of observations, # of predictors, vectors of predictor/response, slopes array and phylogeny matrix. However, in Deirdre’s code, she added declarations for the variables used in generating prior values of the model, as so:
<img w

[2022-07-29 08:19] dinaramamatova commented on #19
I also summarized differences in the R codes to run these stan files, not mentioned yet in previous comment:

1. These two R scripts to run models are using different numbers of cores, thus there may be some discrepancies in performance between them - but it’s a relatively easy thing to change for both of the codes to use the same amount of cores. Deirdre’s model uses 4 cores only, while the origi

[2022-08-02 15:14] lizzieinvancouver commented on #19
@dinaramamatova Amazing work on this!

1. For the priors, Deirdre and I do tend to declare them differently. I do it in the Stan code in the model block (only) and Deirdre does it so you can see them in the R code, which adds all the data block items. I don't think this should affect the speed of the code, but I guess it could not hurt to check as I never have. We'd want to make sure the models an

[2022-08-02 15:17] lizzieinvancouver commented on #19
We should make sure all these parameters are the same across model runs.

We should set seed in R and within Stan, but we should try out a suite of seeds. Let's discuss.

We should use the same across models. I think 50 species is fine to get started with and we can test maybe 100 and 150 later.

See 2 above -- we can try to fix all this today so the math of the models is the same.

We should make

[2022-08-03 01:34] lizzieinvancouver commented on #19
@dinaramamatova Thanks for a great meeting today! I pushed the two files we worked on in commit #a3b4b1d19643d5d4808f61fe07ba3f0c770c1078 but you'll need to update filenames and paths for them to run. Again, let me know how it is going. I am around all week and next.

We agreed to work on speed comparisons of:

1. How the priors are given to the model.
2. the two different f(x)s at the top of the

[2022-08-15 00:04] dinaramamatova commented on #19
Hello @lizzieinvancouver,

Here is the overview of what I found so far:

The following values were the same each time I ran the model: I used 50 species to build the phylogeny tree in R code. To run the stan model from R code, I put 4 chains and 4000 iterations with the default 2000 warm ups. I also set the seeds twice inside the code - once in the beginning with the value 2021 and once in the sta

[2022-08-15 00:06] dinaramamatova commented on #19
Also I looked into @DeirdreLoughnan's code that you forwarded to me and tried to make changes based on it in the uberspeed.stan, but I had some runtime errors and I also had questions regarding some of the parameters, so I decided to wait until Deirdre comes back to ask her about it.

[2022-08-16 18:01] lizzieinvancouver commented on #20
@MoralesCastilla Gave me some Stan code so I tried to guess at the priors, I will push that code. I presume they are not the current priors as they are a bit too informative ... here's the output you get with them:
[code]

[2022-08-16 18:06] lizzieinvancouver commented on #19
@dinaramamatova This is great work! I am fascinated that how the priors are fed in makes a difference. Also, great to confirm the updated function is speeding thinks up, and surprising the cholesky does not speed up things more. We might see more of an effect if we ever scale up to more species (but we don't need to do that yet).

However, we should now scale up and see if these changes are consis

[2022-08-17 19:17] lizzieinvancouver commented on #19
To use the stan_utility ...

[code]

[2022-08-17 19:24] lizzieinvancouver commented on #19
Functions in the utility we need here are: `check_div`  and `check_rhat`

[2022-08-17 19:28] lizzieinvancouver commented on #19
Plot ideas:

- box and whisker (boxplot) of speed versus model type (where model type is a factor)
- take the mean of each parameter and subtract true parameter value then plot versus model type for a few or all parameters
- categorize (0/1) whether the true parameter value is within the 25-75% interval and then plot somehow versus model type

... assuming no major Rhat or divergent issues. Otherw

[2022-08-24 02:25] dinaramamatova commented on #19
Hello @lizzieinvancouver,

I pushed my R and Stan files, that change different components of model, to the repo in [https://github.com/lizzieinvancouver/pmm/tree/master/analyses/speedtests](url) folder. Each of them use their respective stan file in stan subfolder and they create tidy csv files in [https://github.com/lizzieinvancouver/pmm/tree/master/analyses/output/speedtests](url). It seems that

[2022-08-30 02:40] lizzieinvancouver commented on #19
@dinaramamatova This is fantastic work -- thank you! I am very impressed and hopefully Deirdre and I will follow up on this once we get a new version of the cholesky working (it is **supposed** to speed things up) and hopefully then also try it with more species.

Not really. It makes sense that sigma_y is well estimated -- it is estimated using ALL the data since it is error at the observation le

[2022-11-08 10:43] lizzieinvancouver opened #21 "try delta model"
"Delta transform: The node heights of the phylogeny are raised to the power delta (Pagel 1999). Delta > 1 increases the length of external nodes and thus models a scenario where rates of evolution increase through time. Conversely, delta < 1 decreases the length of external nodes and thus models a scenario where rates of evolution decrease through time. Delta = 1 is a Brownian motion model (so the

[2022-11-08 13:09] lizzieinvancouver opened #22 "try our model with early and late burst parameters ..."
Started this in commit f997e3acfe3f6a8bf33168b40c9d44d29c229a78 ... and here's the output with that code (late burst on FORCE, early burst on PHOTO):

[code]

[2022-11-08 13:25] lizzieinvancouver commented on #22
Setting the two deltas to 1 yields more similar sigmas (as predicted), but we're not sure why the sigmas are way off ... could be the seed for what we picked?
[code]

[2022-11-08 13:59] lizzieinvancouver commented on #21
see also [this OSPREE issue](https://github.com/lizzieinvancouver/ospree/issues/446)

[2022-11-08 20:59] lizzieinvancouver commented on #22
Delta=2 for forcing, delta=0.5 for photoperiod with 200 species ... input:
[code]

output:

[code]

[2022-11-08 21:48] lizzieinvancouver commented on #22
Here's the output from the two deltas set to 1....

[code]

And the Geiger output suggests we pulled a low sigma on the bf:

[code]